@import "tailwindcss";

@theme inline {
  --color-background: #f8f9fa;
  --color-foreground: #333333;
  --font-sans: var(--font-inter);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  overflow: hidden; /* Prevent full page scroll, let components handle it */
}
